* {
    margin: 0;
    padding: 0;
}

header {
    background-image: url('profit-from-currency-exchange-services-cartoon-vector-25642789.jpg');
    height: 100vh;
    background-size: cover;
    background-position: top;
}

.nav-menu {
    float: right;
    /* shomare gozari nmikone */
    list-style: none;
    margin-top: 25px;
}

.nav-menu li {
    display: inline-block;
    /* kenare ham avord */
}

.nav-menu li a {
    color: rgb(236, 101, 207);
    text-decoration: beige;
    padding: 5px 20px;
    font-size: 20px;
}

.homebott a {
    border: 1px solid gainsboro;
    background-color: aliceblue;
}

.nav-menu li a:hover {
    border: 1px solid grey;
    background-color: white
}

.tagline {
    position: absolute;
    width: 1200px;
    margin-left: 0;
    margin-top: 0;
}

h1 {
    font-weight: 1990;
    font-size: 80px;
    line-height: 40px;
    color: rgb(145, 3, 145);
    margin-top: 200px;
    margin-left: 270;
}

.yek {
    margin-top: 55px;
    margin-left: 70px;
}


.doo {
    margin-top: 40px;
    margin-left: 70px;
}


.se {
    margin-top: 40px;
    margin-left: 70px;
}

.char {
    margin-top: 40px;
    margin-left: 70px;
}

.panj{
    margin-top: 40px;
    margin-left: 70px;
}


.shish {
    margin-top: 40px;
    margin-left: 70px;
}


.haft {
    margin-top: 40px;
    margin-left: 70px;
}

.hasht {
    margin-top: 40px;
    margin-left: 70px;
}


.noh{
    margin-top: 40px;
    margin-left: 70px;
}






.bttn {
    border: 1px solid white;
    padding: 10px 30px;
    color: rgb(236, 144, 195);
    font-size: 29px;
}

.resizedTextbox {
    margin-top: 285px;
    margin-left: 330px;
    /*width: 660px;
    height: 58px */
    font-size: 45px;
    color: purple;
}